stages:
  - install
  - build
  - push

# 1️⃣ Install dependencies
install:
  stage: install
  image: node:18
  script:
    - npm install
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/

# 2️⃣ Build Docker image
build:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker build -t $DOCKER_HUB_USERNAME/youtube-frontend:$CI_COMMIT_SHORT_SHA .

# 3️⃣ Push Docker image to Docker Hub
push:
  stage: push
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
  script:
    - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin
    - docker push $DOCKER_HUB_USERNAME/youtube-frontend:$CI_COMMIT_SHORT_SHA
  only:
    - dev-upload
